!.gitignore
/covers/**
!/covers/admisnistrasi-sistem-jaringan.jpg
!/covers/antropologi-sosial-budaya.jpg
!/covers/desain-dan-pemrograman-multimedia.jpg
!/covers/etika-dan-perilaku-kesehatan.jpg
!/covers/filsafat-ilmu-dan-logika.jpg
!/covers/filsafat-logika.jpg
!/covers/informatika-kesehatan.jpg
!/covers/kajian-tanah-dalam-perspektif-geografi.jpg
!/covers/keperawatan-krisis.jpg
!/covers/kewirausahaantheopreneurship.jpg
!/covers/sejarah-hukum-indonesia.jpg
/books/**
!/books/admisnistrasi-sistem-jaringan.pdf
!/books/antropologi-sosial-budaya.pdf
!/books/desain-dan-pemrograman-multimedia.pdf
!/books/etika-dan-perilaku-kesehatan.pdf
!/books/filsafat-ilmu-dan-logika.pdf
!/books/filsafat-logika.pdf
!/books/informatika-kesehatan.pdf
!/books/kajian-tanah-dalam-perspektif-geografi.pdf
!/books/keperawatan-krisis.pdf
!/books/kewirausahaantheopreneurship.pdf
!/books/sejarah-hukum-indonesia.pdf
