@import url("./utilities.css");
@import url("./component.css");
@import url("./responsive.css");

/* NAVBAR */
.hover-logout:hover {
    background-color: #f2596129 !important;
    color: #f25961 !important;
    font-weight: 600 !important;
}
.hover-logout:hover p,
.nav-item .hover-logout:hover p {
    color: #f25961 !important;
}
.sidebar.sidebar-style-2[data-color="purple"]
    .nav.nav-primary
    > .nav-item.active
    > a {
    background: #6861ce !important;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
        4px 4px 15px -5px rgba(104, 97, 206, 0.4);
}

/* LOGIN */
/* layout */
.auth-image-wrapper {
    margin-bottom: 0;
    padding: 9px 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: #ffffff;
}
.auth-image-wrapper img {
    height: 28px;
}
.btn-delete-image {
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 10.5px !important;
    text-transform: uppercase;
}

/* BOOK */
/* index */
table .cover-book-image img {
    max-height: 72px;
    min-height: 48px;
    object-fit: cover;
    object-position: center;
    width: auto !important;
    max-width: max-content;
}
/* create */
.file-pdf-info {
    margin-bottom: 12px;
}
.file-pdf-info img {
    height: 64px;
}

/* STUDENT */
#collapseBook .table th,
#collapseProfile.table th {
    padding: 10px 18px !important;
    height: 32px;
}
#collapseBook table td,
#collapseProfile table td {
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    min-height: 32px !important;
    height: auto !important;
}
.btn-collapse {
    background: white !important;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block !important;
    width: 100% !important;
    text-align: left;
    background-color: white !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

/* SEARCH */
.search-container {
    width: 100% !important;
    height: 100vh !important;
    min-height: 540px !important;
}
.seacrh-image-container {
    width: 200px;
    display: block;
    margin: 0 auto 8px;
}
.seacrh-image-container img {
    width: 100%;
}
