@import url("./utilities.css");
@import url("./component.css");
@import url("./responsive.css");

/* NAVBAR */
.hover-logout:hover {
    background-color: #f2596129 !important;
    color: #f25961 !important;
    font-weight: 600 !important;
}
.hover-logout:hover p,
.nav-item .hover-logout:hover p {
    color: #f25961 !important;
}
.sidebar.sidebar-style-2[data-color="purple"]
    .nav.nav-primary
    > .nav-item.active
    > a {
    background: #6861ce !important;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
        4px 4px 15px -5px rgba(104, 97, 206, 0.4);
}

/* LOGIN */
/* layout */
.auth-image-wrapper {
    margin-bottom: 0;
    padding: 9px 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: #ffffff;
}
.auth-image-wrapper img {
    height: 28px;
}
.btn-delete-image {
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 10.5px !important;
    text-transform: uppercase;
}

/* BOOK */
/* index */
table .cover-book-image img {
    max-height: 72px;
    min-height: 48px;
    object-fit: cover;
    object-position: center;
    width: auto !important;
    max-width: max-content;
}
/* create */
.file-pdf-info {
    margin-bottom: 12px;
}
.file-pdf-info img {
    height: 64px;
}
