/* BOOTSTRAP */
/* button */
.btn-anchor {
    appearance: none;
    border: none;
    background: transparent;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    color: #1269db;
}
.btn-anchor:hover {
    color: #6861ce;
}
.btn-upload-image-sm {
    padding: 8px 20px !important;
}

/* badge */
.badge.badge-category {
    padding: 4px 5px !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}
.badge.badge-active {
    background: #1571e827 !important;
    color: #1572e8 !important;
    font-weight: 500;
}
.badge.badge-nonactive,
.badge.badge-ditolak {
    background: #f2596127 !important;
    color: #f25961 !important;
    font-weight: 500;
}
.badge.badge-pending {
    background: #e0a80027 !important;
    color: #e0a800 !important;
    font-weight: 500;
}
.badge.badge-waiting {
    background: #fdaf4b27 !important;
    color: #fdaf4b !important;
    font-weight: 500;
}
.badge.badge-diterima {
    background: #0fae3427 !important;
    color: #0fae34 !important;
    font-weight: 500;
}

/* DATATABLE */
.table td {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    min-height: 60px !important;
    height: auto !important;
}
#bookTable_length select,
#eBookTable_length select {
    height: 31.5px !important;
}
.form-filter-datatable {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    height: 31.5px !important;
    width: auto !important;
    border-radius: 0.2rem !important;
    -webkit-border-radius: 0.2rem !important;
    -moz-border-radius: 0.2rem !important;
    -ms-border-radius: 0.2rem !important;
    -o-border-radius: 0.2rem !important;
}
.bookTable_category_wrapper,
.eBookTable_category_wrapper {
    text-align: right;
}
.bookTable_category_wrapper > div,
.eBookTable_category_wrapper > div {
    display: inline-block;
}

/* datatable */
.info-table {
    display: flex;
    align-items: center;
}

.form-filter-datatable {
    padding: 0.375rem 0.75rem !important;
}

input.form-filter-datatable,
select.form-filter-datatable {
    height: 35px !important;
    appearance: none !important;
}

input[aria-controls="finesTable"],
select[aria-controls="finesTable"] {
    width: 1% !important;
}

/* SWEET ALERT */
.swal-text {
    text-align: center !important;
}

/* SELECT2 */
.select2-input .select2.select2-container.select2-container--bootstrap {
    margin-bottom: 0;
}
.form-group.form-show-validation.row.select2-form-input.has-error {
    margin-bottom: 20px;
}
.form-group.form-show-validation.row.select2-form-input.has-error label.error {
    margin-top: 0;
    bottom: -24px !important;
}
.form-group.form-show-validation.row.select2-form-input
    .select2.select2-container.select2-container--bootstrap {
    width: 100%;
}
